<div data-controller="suggested-questions">
  <% suggested_questions.each do |question| %>
    <button class="suggested-question-btn m-1"
            data-action="click->suggested-questions#fill">
      <%= question %>
    </button>
  <% end %>
</div>
