// Specific CSS for your home-page
body {
  background-color: #FAF3FF;
}

h1 {
  font-size: 3.5rem;
  color: #000;
  font-family: 'Elms Sans', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}
