// Import page-specific CSS files here.

@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');



@import "home";

.grid-perso {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  gap: 24px;
}

.grid-item {
  width: 100%;
  height: 300px;
  background-color: #FFF;
  border-radius: 16px;
  box-shadow: 0px 5px 6px 0px #9875b160;
  transition: 0.5s;
  font-family: "Elms Sans";

  &:hover {
    box-shadow: 0px 30px 50px -10px #c574ff90;
  }
}

.grid-item:first-child {
  background-image: image-url('add-chat-bck.jpg');
  background-size: cover;
  box-shadow: none;

  & form {
    height: 100%;
  }
}

.col-6 form, .col-6 .btn {
  height: 100%;
  border-radius: 6px;
  justify-content: center;
}

.btn-secondary {
  background-color: #c4a2f1;
  color: #371563 !important;
  border: none;
  transition: 0.5s;

  &:hover {
    background-color: #e4d0ff;
  }
}

.btn-chat {
  padding: 8px;
  background-color: #8A38F5;
  border-radius: 6px;
  color: #FFF;

  &:hover{
    background-color: #4a247c !important;
    color: #FFF !important;
  }
}

.conv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
  text-align: left;
}

.conv button {
  width: 100%;
}

.conv h3 {
  font-family: 'Elms Sans';
  font-weight: 700;
  text-align: left;
  font-size: 1.3rem;
}

.conv .row p {
  padding: 0 16px;
  margin-bottom: 4px;
  font-family: 'Elms Sans';
  color: #85719f;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-add {
  width: 100%;
  height: 100%;
  background-color: #00000000;
  border: none;
  color: #8A38F5;
  font-family: 'Elms Sans' !important;
  font-size: 20px;

  display: flex !important;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;

}

img {
  height: 60px;
  width: 60px;
  transition: height 0.3s ease, width 0.3s ease;
}

.btn-add:hover img {
  height: 80px;
  width: 80px;
}
