<ul class="position-sticky sidenav-sticky nav nav-pills flex-column">
  <% chats.each do |chat| %>
    <li class="nav-item">
      <%= link_to chat.messages.first&.content, chat_path(chat),
        class: class_names("nav-link", "active" => chat == current_chat, "text-dark" => chat != current_chat) %>
    </li>
  <% end %>
</ul>
