<%= content_for :sidenav, true %>
<div class="container-fluid grid">
<h1 class="px-3 pb-5 chat-title text-center">Bonjour <%= @chat.user.user_name %> !</h1>

<div class="container" id="messages">
  <% @chat.messages.each do |message| %>
    <%= render "messages/message", message: message %>
  <% end %>
</div>

<div id="new_message_container" class="text-center">
  <%= render "messages/form", chat: @chat, message: @message %>
  </div>
</div>
